<div class="menu">
  <div class="click-maps">
    <a href="/results-map"><div><span>MAPAS</span></div></a>
  </div>
  <div class="click-list">
    <a href="/results"><div>LISTADO</div></a>
  </div>
  
  {{#is rol "Admin"}}  
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#is rol "Customer"}} 
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#unless rol}} 
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/unless}}
</div>

{{#each usersFound}}
<div class="list-element">
  <a href="/profile/{{_id}}" class="">
    <div class="list-info">
      <div class="list picture">
        <img src={{image}} />
      </div>
     <div class="list-user">
      <div class="list-name">
        <h3>{{username}}</h3>
      </div>
      <div class="list-name">
        <p>Email: {{email}}</p>
      </div>
      <div class="list-name">
        <p>Puntuación: {{punctuation}}</p>
      </div>
      <div class="list-name">
        <p>Nivel: {{level}}</p>
      </div>
     </div>
    </div>
  </a>
  <div class="list-buttons">
    <a href="/delete-user/{{_id}}">
        <div class="list-delete button">
          <img src="../images/iconodelete.png" alt="Borrar">
        </div>
    </a>
    <a href="/profile/edit/{{_id}}">
        <div class="list-edit button">
          <img src="../images/iconoedit.png" alt="Editar">
        </div>
    </a>
  </div>
</div>
{{/each}}
 <div class="button-back">
  <a href="/admin">Crear evento</a>
</div>

<div class="update-pos">
  <a href="/auth/logout">Cerrar sesión</a>
</div>