<div class="menu">
  <div class="click-maps">
    <a href="/results-map"><div><span>MAPAS</span></div></a>
  </div>
  <div class="click-list">
    <a href="/results"><div>LISTADO</div></a>
  </div>
  
  {{#is rol "Admin"}}  
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#is rol "Customer"}} 
  <div>
    <a href="//profile/{{id}}"><div>PERFIL</div></a>
  </div>
  {{/is}}
  {{#unless rol}} 
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/unless}}
</div>

</div>
<form action="/profile/edit/{{user._id}}" method="POST" class="new-form">
  <input name="username" type="text" class="form-control" id="name-input" placeholder="Nombre" value="{{user.username}}">
  <input name="email" type="text" class="form-control" id="description-input" placeholder="Email"
    value="{{user.email}}">
  <input name="punctuation" type="text" class="form-control" id="description-input" placeholder="Puntuación"
    value="{{user.punctuation}}">
  <input name="level" type="text" class="form-control" id="description-input" placeholder="Nivel"
    value="{{user.level}}">
  <input name="image" type="file" class="form-control" id="length-input" placeholder="Seleccionar imagen"
    value="{{event.image}}">
  <button type="submit" class="btn btn-dark">Editar perfil</button>
</form>

{{#is rol "Customer"}} 
<div class="button-back">
  <a href="/profile/{{id}}">Volver a Perfil</a>
</div>
{{/is}}

{{#is rol "Admin"}}  
<div class="button-back">
  <a href="/all-users">Lista Usuarios</a>
</div>
{{/is}}

<div class="update-pos">
  <a href="/auth/logout">Cerrar sesión</a>
</div>