<div class="menu">
  <div class="click-maps">
    <a href="/results-map">
      <div><span>MAPAS</span></div>
    </a>
  </div>
  <div class="click-list">
    <a href="/results">
      <div>LISTADO</div>
    </a>
  </div>

  {{#is rol "Admin"}}
  <div>
    <a href="/admin">
      <div>ADMIN</div>
    </a>
  </div>
  {{/is}}
  {{#is rol "Customer"}}
  <div>
    <a href="/profile/{{id}}">
      <div>PERFIL</div>
    </a>
  </div>
  {{/is}}
  {{#unless rol}}
  <div>
    <a href="/auth/login">
      <div>LOGIN</div>
    </a>
  </div>
  {{/unless}}
</div>

<div class="profile-detail">
  <div class="profile-info">
    <div>
      <img class="detail-image" src={{user.image}} />
    </div>
    
    <div class="profile-text">
      <div>
        <h2>{{user.username}}</h2>
        {{#if user.punctuation }}
        <p>Puntuación: {{user.punctuation}}</p>
        {{/if}}
        {{#if user.level }}
        <p>Nivel: {{user.level}}</p>
        {{/if}}
      </div>
      <div class="button-dark">
        <a href="/profile/edit/{{user._id}}">Editar</a>
      </div>
    </div>
</div>


<div class="parent">
  {{#each user.events}}
  <div class="list-element-profile">
  <a href="/results/{{_id}}" class="">
    <div class="list-info">
      <div class="list picture">
        <img src={{image}} />
      </div>
      <div class="list-name">
        <h2>{{name}}</h2>
        <h3>{{punctuationReward}} recompensa</h3>
      </div>
    </div>
  </a>
  {{#is ../rol "Admin"}}
  <div class="list-buttons">
    <a href="/delete-event/{{_id}}">
      <div class="list-delete button">
        <img src="../images/iconodelete.png" alt="Borrar">
      </div>
    </a>
    <a href="/edit-event/{{_id}}">
      <div class="list-edit button">
        <img src="../images/iconoedit.png" alt="Editar">
      </div>
    </a>
  </div>
  {{/is}}
</div>
{{/each}}
</div>

 {{#is rol "Admin"}}
  <div class="btn-back">
    <a href="/all-users">Volver a listado</a>
  </div>
{{/is}}

<div class="update-pos">
  <a href="/auth/logout">Cerrar sesión</a>
</div>