<div class="menu">
  <div class="click-maps">
    <a href="/results-map"><div><span>MAPAS</span></div></a>
  </div>
  <div class="click-list">
    <a href="/results"><div>LISTADO</div></a>
  </div>
  
  {{#is rol "Admin"}}  
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#is rol "Customer"}} 
  <div>
    <a href="/profile/{{id}}"><div>PERFIL</div></a>
  </div>
  {{/is}}
  {{#unless rol}} 
  <div>
    <a href="/auth/login"><div>LOGIN</div></a>
  </div>
  {{/unless}}
</div>

<div class="profile-detail">
  <div class="profile-info">
    <img class="detail-image" src={{user.image}} />
    <h2>{{user.username}}</h2>
    <p>{{user.email}}</p>
    {{#if user.level }}
    <p>Nivel {{user.level}}</p>
    {{/if}}
    <a href="/profile/edit/{{user._id}}">edit</a>
  </div>
</div>


{{user.username}}
{{user.email}}
<a href="/profile/edit/{{user._id}}">edit</a>
<div></div>
{{#each user.events}}
<div class="list-element">
  <a href="/results/{{_id}}" class="">
    <div class="list-info">
      <div class="list picture">
        <img src={{image}} />
      </div>
      <div class="list-name">
        <h3>{{name}}</h3>
      </div>
    </div>
  </a>
  {{#is ../rol "Admin"}}
  <div class="list-buttons">
    <a href="/delete-event/{{_id}}">
      <div class="list-delete button">
        <h3>DELETE</h3>
      </div>
    </a>
    <a href="/edit-event/{{_id}}">
      <div class="list-edit button">
        <h3>EDIT</h3>
      </div>
    </a>
  </div>
  {{/is}}
</div>
{{/each}}

<div class="update-pos">
  <Cerrar href="/auth/logout">Cerrar sesión</a>
</div>