<h1>Detalle Ofertas</h1>
{{event.name}}
{{event.description}}
{{event.start}}
<a href=/scangenerated/{{event._id}}>Generar QR</a>
<p>Si eres admin veras el QR del Event/Offer</p>

{{!-- input value=localhost:3000/scan/{{_id}} --}}