<img class="detail-image" src={{event.image}} />
<h1>{{event.name}}</h1>
{{!-- <h2>Tipo {{event.type}}</h2> --}}
<p>{{event.description}}</p>
<date>Inicio
  {{#is date 0}}lunes{{/is}}
  {{#is date 1}}martes{{/is}}
  {{#is date 2}}miércoles{{/is}}
  {{#is date 3}}jueves{{/is}}
  {{#is date 4}}viernes{{/is}}
  {{#is date 5}}sábado{{/is}}
  {{#is date 6}}domingo{{/is}}
  {{day}}
  {{hours}}h{{minutes}}m</date>
<p>Duración {{event.duration}} minutos</p>
{{#if event.discount}}
<p>Descuento {{event.discount}} %</p>
{{/if}}
{{#if event.levelRequiered}}
<h2>Nivel requerido {{event.levelRequiered}}</h2>
{{/if}}
{{#if event.punctuationReward}}
<h2>Recompensa de puntuación {{event.punctuationReward}}</h2>
{{/if}}
{{#is rol "Admin"}}
<a href=/scangenerated/{{event._id}}>Generar QR</a>
{{/is}}
<a href="/results">volver a los resultados</a>