<h1>Detalle Ofertas</h1>
{{event.name}}
{{event.description}}
{{event.start}}

{{#is rol "Admin"}}
<a href=/scangenerated/{{event._id}}>Generar QR</a>
{{/is}}
<a href="/results">volver a los resultados</a>
{{!-- input value=localhost:3000/scan/{{_id}} --}}