<div class="menu">
  <div class="click-maps">
    <a href="/results-map"><div><span>MAPAS</span></div></a>
  </div>
  <div class="click-list">
    <a href="/results"><div>LISTADO</div></a>
  </div>
  
  {{#is rol "Admin"}}  
  <div>
    <a href="/admin"><div>ADMIN</div></a>
  </div>
  {{/is}}
  {{#is rol "Customer"}} 
  <div>
    <a href="/profile/{{id}}"><div>PERFIL</div></a>
  </div>
  {{/is}}
  {{#unless rol}} 
  <div>
    <a href="/auth/login"><div>LOGIN</div></a>
  </div>
  {{/unless}}
</div>
<h1>Detalle Ofertas</h1>
{{event.name}}
{{event.description}}
{{event.start}}

{{#is rol "Admin"}}
<a href=/scangenerated/{{event._id}}>Generar QR</a>
{{/is}}
<a href="/results">volver a los resultados</a>
{{!-- input value=localhost:3000/scan/{{_id}} --}}