<div class="menu">
  <div class="click-maps">
    <a href="/results-map">
      <div><span>MAPAS</span></div>
    </a>
  </div>
  <div class="click-list">
    <a href="/results">
      <div>LISTADO</div>
    </a>
  </div>

  {{#is rol "Admin"}}
  <div>
    <a href="/profile/{{id}}"><div>PERFIL</div></a>
  </div>
  {{/is}}
  {{#is rol "Customer"}}
  <div>
    <a href="/profile/{{id}}">
      <div>PERFIL</div>
    </a>
  </div>
  {{/is}}
  {{#unless rol}}
  <div>
    <a href="/profile/{{id}}"><div>PERFIL</div></a>
  </div>
  {{/unless}}
</div>
<div class="scan-result">
  <div class="scan-info">
    <h1 id="enhorabuena">⭐ ENHORABUENA ⭐</h1>
    <img class="star-result" src="">
    <br>
    <h2>has disfrutado del evento </h2>
    <span class="result-important">{{name}}</span>
    <br>
    {{#is type "Offers"}}
    <h2>Tu oferta te ha dado <span class="result-important">{{punctuationReward}}</span> puntos</h2>
    {{/is}}

    {{#is type "Missions"}}
    <h2>Tu misión te ha dado <span class="result-important">{{punctuationReward}}</span> puntos</h2>
    {{/is}}
  </div>
  <img class="image-result" src="https://acegif.com/wp-content/uploads/gif-good-job.gif">
  <div class="update-pos"> <a href="/results">Vuelve a los resultados</a></div>
</div>